<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Clima-BR
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home">volta</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Lavras | Quinta, 04 de Outubro</p>
        <div class="temperature">
          12<sup><small>̣ºC</small></sup>
        </div>
        <div class="condition">
          <img src="tempestade" alt="">
          <h3>Tempestade</h3>
          <p>- 50 % | 30%</p>
        </div>
        <ion-button color="primary">Detalhes</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
